@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    /* .nav-link {
        @apply relative font-semibold text-white cursor-pointer text-[17px] w-fit md: block
    } */
}


/* Import slick-carousel CSS */

@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
body {
    background-color: #141c27;
}

.hero-img {
    width: 80%;
}

.active-boxes0 {
    box-shadow: 0px 64px 160px 0px darkblue;
}

.active-boxes1 {
    box-shadow: 0px 64px 160px 0px darkblue;
}

.active-boxes2 {
    box-shadow: 0px 64px 160px 0px darkblue;
}


/* mcontainer2 */

.your-area-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 7rem;
    align-items: center;
}

.contact-us {
    width: 8rem;
    /* border: 2px solid white; */
    background-color: rgb(41, 119, 190);
    padding: 0.5rem;
    text-align: center;
}

#header {
    background: url('../app/images/bg-policy-4.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 20rem;
}

.icon-div svg,
.provide-img svg {
    width: 3.5rem;
    height: 3.5rem;
    color: white;
    background: #2977BE;
    padding: 5px;
    border-radius: 50%;
    transition: all 0.3s ease;
}


/* .provide-img:hover {
    height: 3rem;
    color: #2977BE;
    position: absolute;
    top: -1.8rem;
    display: flex;
    left: 0;
    justify-content: center;
    width: 100%;
    transition: all 0.6s ease;
} */

.provided-box {
    /* position: relative; */
    overflow: hidden;
    transition: transform 1s ease;
    /* Hide overflow to contain rotating icon */
}

.provided-box:hover {
    transform: perspective(800px) rotateY(360deg);
    /* Rotate icon 180 degrees on hover */
}

.provided-box .provided-box-inner p,
.provided-box-inner-back {
    display: none;
    /* Hide paragraph by default */
    transition: opacity 0.3s ease;
    /* Smooth opacity transition */
}

.provided-box:hover .provided-box-inner p {
    display: block;
    /* Show paragraph on hover */
    opacity: 1;
    /* Fade in paragraph */
    .provided-box-inner {
        display: none;
    }
}

.provided-inner-div {
    gap: 2rem;
}

.provided-box-inner-back {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


/* mcontainer1 rotating image */


/* Mcontainer1.module.css */

.imageContainer {
    position: relative;
    width: 512px;
    height: 512px;
    perspective: 1000px;
    /* Add perspective for 3D effect */
}

.imageContainer .hoverImage {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    /* Apply transition for smooth rotation */
    transform-style: preserve-3d;
    /* Preserve 3D space for rotation */
}

.imageContainer:hover .hoverImage {
    transform: rotateY(180deg);
    transition: transform 0.6s ease;
    /* Rotate image 180 degrees on hover */
}

.frontImage,
.backImage {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /* Hide the backface of the front and back images */
}

.frontImage {
    z-index: 1;
    /* Ensure front image is above back image */
}

.backImage {
    transform: rotateY(180deg);
    transition: transform 0.6s ease;
    /* Initially rotate the back image */
}


/* --------------brand carousel --------------- */

#logos {
    object-fit: contain;
    padding: 3rem;
}


/* styles/globals.css */

.logo-wrapper img {
    /* filter: grayscale(100%); */
    /* Apply grayscale filter to make logos monochrome by default */
    /* transition: filter 0.3s ease; */
    padding: 3rem;
}


/* .logo-wrapper img :hover {
    filter: none;
} */


/* --------------brand carousel --------------- */


/* --------------categories-------------------- */

.heading-container h1 {
    line-height: 4.2rem;
    font-weight: 600;
}

.box-with-arrow span svg {
    width: 1rem;
    height: 1rem;
}

.image-container img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    /* position: absolute; */
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
}

.container-outer :hover {
    .image-container {
        transform: rotateY(180deg);
        transition: transform 0.6s ease-in-out;
        /* border: 2px solid red; */
        cursor: pointer;
    }
}


/* --------------categories-------------------- */


/* animation */


/* y positive starts*/

.box-1,
.box-3,
.mission-inner-first-para,
.elite-units,
.mission-inner-software-second-para {
    opacity: 0;
    transform: translateY(150px);
    /* Initial position for vertical animation */
    transition: opacity 1s ease, transform 1s ease;
}

.box-1.active,
.box-3.active,
.mission-inner-first-para.active,
.elite-units.active,
.mission-inner-software-second-para.active {
    opacity: 1;
    transform: translateY(0);
}


/* y positive ends*/


/* X negative starts */

.slider-first-para,
.second-box-heading,
.animated-second-box-heading,
.mission-inner-software-first-img {
    opacity: 0;
    transform: translateX(-150px);
    /* Initial position for vertical animation */
    transition: opacity 1s ease, transform 1s ease;
}

.slider-first-para.active,
.second-box-heading.active,
.animated-second-box-heading.active,
.mission-inner-software-first-img.active,
.guardian-left-div.active,
.how-to-hire-pic.active,
.why-us-1.active,
.be-solution-left-side.active,
.general-left-support.active {
    opacity: 1;
    transform: translateX(0);
}


/* X negative ends */


/* --------X positive starts---------- */

.who-we-are-left-div,
.second-box-text,
.animated-second-box-text,
.mission-inner-second-para,
.mission-inner-software-first-para {
    opacity: 0;
    transform: translateX(150px);
    /* Initial position for vertical animation */
    transition: opacity 1s ease, transform 1s ease;
}

.who-we-are-left-div.active,
.second-box-text.active,
.animated-second-box-text.active,
.mission-inner-second-para.active,
.mission-inner-software-first-para.active,
.how-to-hire-text.active,
.why-us-2.active,
.general-right-support.active {
    opacity: 1;
    transform: translateX(0);
}


/*  Y negative starts */

.box-2,
.box-4,
.your-area-heading,
.other-services-container,
.heading-rated,
.elite-para-sub,
.service-hero-text,
.mission-inner-software-second-img {
    opacity: 0;
    transform: translateY(-150px);
    /* Initial position for vertical animation */
    transition: opacity 1s ease, transform 1s ease;
}

.box-2.active,
.box-4.active,
.your-area-heading.active,
.other-services-container.active,
.heading-rated.active,
.elite-para-sub.active,
.service-hero-text.active,
.mission-inner-software-second-img.active {
    opacity: 1;
    transform: translateY(0);
}